h1 {
    font-family: "Courier"
    font-weight: bold;
}

strong {
    text-shadow: 5px 5px 5px gray
}

span {
    font-weight: bold;
    font-style: italic;
    color: blue
}
.writer {
        font-size: 15;
        font-style: italic;
        color: red
}

.content {
    font-size: 30;
    font-family: "Times New Roman";
}
